    <body>
        {
        font-family: Arial, sans-sherif;
        background-color: #0f0f0;
        }
        h1 {
            color: purple;
            font-size: 32px;
        }
        <button>
            {
                background-color: green;
                color: white;
                padding: 10px 20px;
                border: none
                border-radius: 5px;
            }
        </button>
    </body>
    